@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
$fontMont:'Montserrat', sans-serif;
$fontRoboto:'Roboto Slab', serif;
$fontDroid:'Droid Serif';
$color-yellow:#fed136;
$color-black:#212529;
$color-muted:#6c757d;
$color-light:#f8f9fa;
